test call.json
{
  "name": "test call",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b0a4321-f401-4a93-9061-a17c077c14e5",
              "leftValue": "={{ $json.message.content.response }}",
              "rightValue": "inquiry",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2688,
        1264
      ],
      "id": "ee38ae8f-af3c-44ca-8412-cf39b9adcda5",
      "name": "If (General inquiries)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "45765b92-ec45-422e-9a96-751f5b390c24",
              "leftValue": "={{ $json[\"subject\"] }}\n\n{{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "={{ $json[\"subject\"].includes(\"job application\") }}\n",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cf71e129-d03e-4f9f-8c34-6544952b1827",
              "leftValue": "={{ $binary.attachment_0}}",
              "rightValue": "=",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "28b4fa18-0597-43e8-b8ad-fae73b62acd4",
              "leftValue": "={{ $json[\"subject\"] }}",
              "rightValue": "={{ $json[\"subject\"].includes(\"Job Application\") }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3216,
        928
      ],
      "id": "97f251a9-e0bb-4b60-b1a9-05b254193f6a",
      "name": "If (job application)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"Here is the message from the candidate: [Insert extracted message here]. Please generate a polite and professional response to the inquiry.\"\n{{ $json['الأستفسار الوارد '] }}\nPlease add the following email address at the end of the response for contact: ai@woow.sa.\n\nPlease add the following email address at the end of the response for contact: ai@woow.sa. \nAlso, reply directly to the sender at the following email address: {{ $('Get many messages1').item.json.from.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1840,
        1248
      ],
      "id": "ae6abbc6-fa55-4dd0-a857-dd71dda8d294",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1904,
        1488
      ],
      "id": "13110221-53c6-4cca-afab-dfc32717b053",
      "name": "support chat"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2400,
        1024
      ],
      "id": "18a120c1-f8dd-4dd6-b8d2-0b3ed24d2dd1",
      "name": "Extract cv"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1440,
        1248
      ],
      "id": "d4835a98-8170-4d09-a230-3608286e386a",
      "name": "General inquiries"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59067c3a-a7d2-4d9d-86d0-365e494a362d",
              "name": "attachment_0",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4576,
        688
      ],
      "id": "8dffd585-08eb-4efd-b34d-1d4f077fede6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Please summarize the following resume and extract the key details such as the candidate's name, contact information, education, and work experience, and years of experience.\n\n\n\nResume:\n{{ $json.text }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2224,
        1024
      ],
      "id": "d071ee4e-b32f-4cf8-baf5-77657fb3b32c",
      "name": "Message a model5"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.myNewField = 1;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        960
      ],
      "id": "2b719cbb-2daf-48dd-b6aa-8cd895aa8964",
      "name": "Code2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Please check the following subject and content of the email and determine if either one contains any words or phrases indicating an inquiry or question. Look for keywords such as \"inquiry\", \"ask\", \"question\", \"wonder\", \"question mark\", or \"do\". If any of these indicators are found in either the subject or the content, please classify this text as an inquiry or question.\n\nHere is the subject: [Insert extracted subject here].\nHere is the content: [Insert extracted content here].\n\nPlease provide a response:\n- \"Inquiry\" if the subject or content contains any of the specified keywords or a question mark.\n- \"Not an inquiry\" if neither the subject nor content contains any of the specified keywords or a question mark.\n {{ $json.text }}\n{{ $json.subject }}\nAdditionally, include the **Message ID** from the email:\n{{ $json['messageId'] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3024,
        1232
      ],
      "id": "3df0945f-941c-4511-b397-6eb70a5a47db",
      "name": "Message a model6"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Get many messages1').item.json.from.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2400,
        1248
      ],
      "id": "d4590247-1706-4613-937a-a49a1f664af2",
      "name": "Message a model7"
    },
    {
      "parameters": {
        "toEmail": "={{ $('Get many messages1').item.json.from.text }}",
        "subject": "={{ $('Gmail Trigger1').item.json.subject }}",
        "emailFormat": "text",
        "text": "= {{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1248,
        1248
      ],
      "id": "293a0aa9-652d-4332-bfee-e788e1d8bd44",
      "name": "Send email",
      "webhookId": "c6fb17f6-4f1d-45a2-b27e-d74d95302d65"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1744,
        1504
      ],
      "id": "14f6e2c8-de77-4c17-a47c-73122e5a540d",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('If (job application)').item.json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2400,
        1440
      ],
      "id": "bcd745c1-6ab9-4e65-ad95-3967a1cab02e",
      "name": "Mark a message as read1",
      "webhookId": "926ff1a7-3b9b-4457-b188-cc1af691c11c",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "575ba42c-e1d5-4130-a5e0-6787d32d2221",
              "leftValue": "={{$binary.attachment_0.mimeType}}\n",
              "rightValue": "application/pdf\n",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c69d88bc-1829-4653-a330-4439cd46ecb7",
              "leftValue": "={{$binary.attachment_0.fileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5ca2d020-95c6-4cc9-b8a1-008be0054087",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2608,
        960
      ],
      "id": "cfeddfbd-0f48-4f05-bccb-3ac8004c7097",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4224,
        880
      ],
      "id": "143702c8-83ee-4ee5-b881-695e6bf16563",
      "name": "Get many messages1",
      "webhookId": "761d4766-a79f-40b8-9805-8b7b72041ab5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3616,
        1072
      ],
      "id": "b6c61422-2896-4dac-80d0-f61bc006199c",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me3",
      "typeVersion": 1,
      "position": [
        -4528,
        880
      ],
      "id": "4db7844d-5998-4c53-8119-91e57024219a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee95b54b-4e6e-4c03-8c25-7f01f0f10e64",
              "name": "=currentOffset ",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4400,
        688
      ],
      "id": "c43f76d4-3c70-4feb-87a2-eaeb5c5ecdf4",
      "name": "currentOffset 3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}",
                    "rightValue": "Project Management",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ea040b55-d64e-44f3-a1fa-53444592f5c4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Project"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b0be26c9-5840-495d-8a0d-052bceca9ad4",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}{{ $json.Skills }}",
                    "rightValue": "Customer Service",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Service"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7123e287-a605-43ca-a6e6-2809bd8af056",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}{{ $json.Skills }}",
                    "rightValue": "Marketing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marketing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3047c2f7-758e-4949-86cc-965a48dd6792",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }} \n{{ $json[\"CV FILE\"] }}",
                    "rightValue": " Design",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Design"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8f2e3ec0-3c5b-4f76-9ecb-a1204e4148ad",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}{{ $json.Skills }}",
                    "rightValue": "Editing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Editing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e5152fd0-0629-4504-a563-d708168d3100",
                    "leftValue": "={{ $json['Field of expertise'] }}\n{{ $json[\"CV FILE\"] }}{{ $json.Skills }}",
                    "rightValue": " Content Writing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Content Writing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d71f8c7-f656-4241-927d-ba0fe9fe0c24",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}{{ $json.Skills }}",
                    "rightValue": "Business ",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Business Development"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "23b2faf5-88dd-46a8-8a9e-1cbdfc95c12c",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}{{ $json.Skills }}",
                    "rightValue": " Artificial Intelligence",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7e1dca3-21a1-4534-a7a3-a95c4adb0f53",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}{{ $json.Skills }}",
                    "rightValue": " Cybersecurity",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cybersecurity"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "65370b03-3140-4406-9e8c-aa02683f5892",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}{{ $json.Skills }}",
                    "rightValue": "Finance",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Finance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58f91b85-74b3-4158-9f42-8842a960e6cf",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}",
                    "rightValue": "Human Resources",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7944fb62-e4da-443e-a36b-1b0b83135e6c",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}{{ $json.Skills }}",
                    "rightValue": "Contracts and Purchases",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contracts and Purchases"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d365a4a-d21e-4700-b05c-fe61a8a8983f",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "926b0b14-147f-44d1-9571-8e1b9a559656",
                    "leftValue": "={{ $json.Education }}{{ $json['Field of expertise'] }}{{ $json[\"Years of experience\"] }}\n{{ $json[\"CV FILE\"] }}{{ $json.Skills }}{{ $json[\"Full name\"] }}{{ $json.Email }}{{ $json[\"Contact number\"] }}",
                    "rightValue": "Education",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "public job application1"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -640,
        672
      ],
      "id": "3af3a3e6-3f1c-4c91-ab9f-d90b79dbbb85",
      "name": "Switch1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo-16k",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO-16K"
        },
        "messages": {
          "values": [
            {
              "content": "=Please read the following resume and focus on the following fields:\n- Education\n- Work Experience\nResume:\n{{ $json.choices[0].message.content }}\n"
            },
            {
              "content": "=Here is the candidate's resume: [Insert extracted resume text here]. Please extract the following information:\n\n1. Full name of the candidate :\n2. Email address :\n3. Education (Degree, field of study, etc.) \n4. Years of experience (If not available, use ---)\n5. Field of expertise (If not available, use ---)\n6. Skills \n7. Contact number\n\n{{ $json.choices[0].message.content }}\n\n{{ $json.message.content }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1888,
        1024
      ],
      "id": "43b2bfba-e1c1-48ba-ba8e-1168c5500662",
      "name": "Message a model1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.myNewField = 1;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        672
      ],
      "id": "0595a399-09f6-416a-84ee-01326e44d692",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "575ba42c-e1d5-4130-a5e0-6787d32d2221",
              "leftValue": "={{$binary.attachment_0.mimeType}}\n",
              "rightValue": "application/docx",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c69d88bc-1829-4653-a330-4439cd46ecb7",
              "leftValue": "={{$binary.attachment_0.fileExtension }}",
              "rightValue": "docx",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2576,
        672
      ],
      "id": "46da0160-dc36-4ef9-9220-b09005997936",
      "name": "Filter",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.attachment_0.fileExtension}} ",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "13758c80-281a-44bf-a2ae-98d66d4b5dc3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "word"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87bfe4d9-5655-4058-9e8d-9c0b9c12c75d",
                    "leftValue": "={{ $binary.attachment_0.fileExtension}}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2960,
        768
      ],
      "id": "6a92862c-551c-49d1-bbb8-4d0d2cd24bde",
      "name": "Switch"
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $binary.attachment_0.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1H27HnN-ePzHIfZDYwb2HUAWDUhlAdUMH",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "value": "1H27HnN-ePzHIfZDYwb2HUAWDUhlAdUMH",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2400,
        672
      ],
      "id": "8f5888a1-4286-452a-93d0-e6ef1f8c18d8",
      "name": "Upload file",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.parents[0] }}\n{{ $json[\"id\" ]}}{{ $json.data }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -2000,
        672
      ],
      "id": "f8303926-99b9-4221-805b-b27f7de60e2d",
      "name": "Get a document",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json[\"id\"] }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{ $json.mimeType }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2224,
        672
      ],
      "id": "2420ffae-b43e-44cd-8e71-e9f68eae1fce",
      "name": "HTTP Request(conv docx)",
      "disabled": true
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $binary.attachment_0.fileName }}\n",
        "driveId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2400,
        864
      ],
      "id": "9778d44f-21b6-4af6-bd1c-21ab261f1ebc",
      "name": "Upload file2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1088,
        880
      ],
      "id": "6d522eef-1375-4336-85a4-eb67cc9881bb",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c186a465-d622-4714-a588-584e54d87327",
              "name": "=webViewLink",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        864
      ],
      "id": "1c1eb12a-e6db-445b-9abe-b18819100f4f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90911545-57d8-498d-b110-22ea5e1c6060",
              "name": "=CV FILE",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "ba54e853-286c-449d-b9dd-af72aea5666b",
              "name": "=Full name",
              "value": "={{ $node['Code7'].json['Full name']}}",
              "type": "string"
            },
            {
              "id": "5ba1dabd-02db-48c6-bc7b-c982c6dc1d25",
              "name": "=Email",
              "value": "={{ $node['Code7'].json['Email']}}",
              "type": "string"
            },
            {
              "id": "3ed42123-7ece-40b7-a39f-f01a4e2117a9",
              "name": "=Contact number",
              "value": "={{ $node['Code7'].json['Contact number']}}",
              "type": "string"
            },
            {
              "id": "cc2ece98-59e7-4639-a4b2-6d4028423b8a",
              "name": "=Education",
              "value": "={{ $node['Code7'].json['Education']}}",
              "type": "string"
            },
            {
              "id": "a1f63c1e-2847-4ee7-8a43-547c6386c189",
              "name": "=Years of experience",
              "value": "={{ $node['Code7'].json['Years of experience']}}",
              "type": "string"
            },
            {
              "id": "68f26a8d-b69b-4a98-826d-f1638375f6ae",
              "name": "=Field of expertise",
              "value": "={{ $node['Code7'].json['Field of expertise']}}",
              "type": "string"
            },
            {
              "id": "0c7da9ed-6c59-4cee-b147-ffd834ee9a67",
              "name": "=Skills",
              "value": "={{ $node['Code7'].json['Skills']}}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        880
      ],
      "id": "708ecab2-cd51-4e5f-9b13-2cd7186fa767",
      "name": "Edit Fields3",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let content = $json[\"message\"][\"content\"];  // محتوى الرسالة من OpenAI\n\n// استخراج البيانات باستخدام Regular Expressions (Regex)\nlet fullName = content.match(/1\\.\\s*Full name of the candidate:\\s*([^\\n]+)/);\nlet email = content.match(/2\\.\\s*Email address:\\s*([^\\n]+)/);\nlet education = content.match(/3\\.\\s*Education:\\s*([^\\n]+)/);\nlet yearsOfExperience = content.match(/4\\.\\s*Years of experience:\\s*([^\\n]+)/);\nlet fieldOfExpertise = content.match(/5\\.\\s*Field of expertise:\\s*([^\\n]+)/);\nlet skills = content.match(/6\\.\\s*Skills:\\s*([\\s\\S]*?)(?=\\n7\\.)/);\nlet contactNumber = content.match(/7\\.\\s*Contact number:\\s*([^\\n]+)/);\n\n\n// دالة مساعدة لتنظيف أي قيمة\nconst cleanValue = (val) => {\n  if (!val || !val[1]) return \"not found\";\n  const trimmed = val[1].trim();\n  return trimmed === \"\" || trimmed === \"---\" ? \"not found\" : trimmed;\n};\n\n// دالة خاصة لتنظيف المهارات لأنها تحتاج تنسيق\nconst cleanSkills = (val) => {\n  if (!val || !val[1]) return \"not found\";\n  const cleaned = val[1].replace(/\\n/g, ', ').trim();\n  return cleaned === \"\" || cleaned === \"---\" ? \"not found\" : cleaned;\n};\n\n// إرجاع القيم المستخرجة والمعدلة\nreturn {\n  \"Full name\": cleanValue(fullName),\n  \"Email\": cleanValue(email),\n  \"Education\": cleanValue(education),\n  \"Years of experience\": cleanValue(yearsOfExperience),\n  \"Field of expertise\": cleanValue(fieldOfExpertise),\n  \"Skills\": cleanSkills(skills),\n  \"Contact number\": cleanValue(contactNumber)\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1024
      ],
      "id": "b7f55c60-cc2f-4e4a-8178-a3abb2776384",
      "name": "Code7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f656320-a416-4f82-98f1-37b2dd237035",
              "name": "=currentOffset",
              "value": "={{ $json[\"currentOffset\"] || + 50 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3824,
        1008
      ],
      "id": "0095f986-cd3d-4b9b-8837-943331ce7fb9",
      "name": "currentOffset"
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $binary.attachment_0.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2784,
        272
      ],
      "id": "497518cf-2d35-4366-aac8-d97602a09b1c",
      "name": "Upload file3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c186a465-d622-4714-a588-584e54d87327",
              "name": "=webViewLink",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2608,
        272
      ],
      "id": "2c4d7470-47bd-4a28-a492-99def172cc1d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6fc1558-411e-4c03-8a5f-bf6f8e6a3fe1",
              "leftValue": "={{ $json[\"subject\"] }}  {{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "=Training",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "246a2e98-c8f3-49b6-ab18-974857e4b31c",
              "leftValue": "={{ $json[\"subject\"] }}  {{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "=تدريب",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9517354a-95c2-43de-b156-7062d00a5221",
              "leftValue": "={{ $json[\"subject\"] }}  {{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "تدريب تعاوني",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b26d4b48-4392-4bc0-87eb-02360ebe7ada",
              "leftValue": "={{ $json[\"subject\"] }}  {{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "COOP",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d0ec747c-d3d0-4b0e-9060-014506ebe1ca",
              "leftValue": "={{ $json[\"subject\"] }}  {{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "Coop",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "85f15e0e-8e2c-421c-9d29-2d26bbc5fbe2",
              "leftValue": "={{ $json[\"subject\"] }}  {{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "CO-OP",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b6814183-3628-47a1-8e27-4f3636846cfa",
              "leftValue": "={{ $json[\"subject\"] }}  {{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "Co-op",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8dfa0def-9601-420d-bb5b-18401b7ec94f",
              "leftValue": "={{ $json[\"subject\"] }}  {{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "co-op",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3568,
        368
      ],
      "id": "84f41147-548c-449e-b74c-56b2819200a1",
      "name": "If (Training)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7edfe891-aff5-4453-8149-f21863e5e260",
              "leftValue": "={{ $json['البريد الالكتروني'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        992
      ],
      "id": "fece18df-c9ba-4ac9-b745-90568c8941e1",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "toEmail": "={{ $json['البريد الالكتروني'] }}",
        "subject": "طلب التقديم على الوظيفة",
        "emailFormat": "text",
        "text": "May God's peace, mercy, and blessings be upon you.\n\nWe thank you for your interest in applying for a position with us. We would like to inform you that we have received your application.\n\nIf a position that matches your qualifications and experience becomes available, we will contact you directly to complete the hiring process.\n\nBest regards\nWOW Marketing Solutions",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        992,
        864
      ],
      "id": "4a410415-25dd-4628-b407-35dbf8cfc92b",
      "name": "Send email3",
      "webhookId": "c6fb17f6-4f1d-45a2-b27e-d74d95302d65",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('If (job application)').item.json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        1104
      ],
      "id": "7d9be94e-ce76-47b6-b2dd-a5c82f3e2f46",
      "name": "Mark a message as read2",
      "webhookId": "926ff1a7-3b9b-4457-b188-cc1af691c11c",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "Analyze the content of the email, focusing on the subject and content of the email. Focus on important keywords in Arabic and English, such as:\nTraining\nCooperative Training\nField Training\nCoop\nin uppercase and lowercase\nTraining in uppercase and lowercase"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2768,
        32
      ],
      "id": "928e0ba1-3c4b-4e9a-bc23-878544ca07db",
      "name": "Message a model"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -4800,
        688
      ],
      "id": "e437eae7-0a19-469a-aa4f-ef94bbaf8a13",
      "name": "Gmail Trigger1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2336,
        192
      ],
      "id": "0f552a4d-93ed-40ae-bdc6-f93f61a83d1e",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.myNewField = 1;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3008,
        480
      ],
      "id": "5aab3b9b-3b01-474c-8826-200407bf43a2",
      "name": "Code10"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Please read the following resume and focus on the following areas:\n- Education\nResume:\n{{ $json.message.content }}"
            },
            {
              "content": "=Here is the candidate's resume: [Insert extracted resume text here]. Please extract the following information:\n\n1. Full name of the candidate :\n2. Email address :\n3. Education (Degree, field of study, etc.) \n4. Years of experience (If not available, use ---)\n5. Field of expertise (If not available, use ---)\n6. Skills \n7. Contact number\n\n\n{{ $json.message.content }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1424,
        192
      ],
      "id": "344ac1fd-42c3-4c59-9172-71aafe738899",
      "name": "Message a model13"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1920,
        192
      ],
      "id": "fd1af668-5ae1-4326-a3de-530c8c5c4377",
      "name": "Extract cv3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "575ba42c-e1d5-4130-a5e0-6787d32d2221",
              "leftValue": "={{$binary.attachment_0.mimeType}}\n",
              "rightValue": "application/pdf|",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c69d88bc-1829-4653-a330-4439cd46ecb7",
              "leftValue": "={{$binary.attachment_0.fileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2128,
        192
      ],
      "id": "caa90f3c-c552-4c10-b207-fe078176b8f8",
      "name": "Filter4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Please read the following resume and focus on the following fields:\n- Education\nResume:{{ $json.text }}"
            },
            {
              "content": "=Here is the candidate's resume: [Insert extracted resume text here]. Please extract the following information:\n\n1. Full name of the candidate :\n2. Email address :\n3. Education (Degree, field of study, etc.) \n4. Years of experience (If not available, use ---)\n5. Field of expertise (If not available, use ---)\n6. Skills (If not available, use ---)\n7. Contact number\n\n\n{{ $json.message.content }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1744,
        192
      ],
      "id": "02d2e768-14e0-4177-b29b-df4f2b5d6173",
      "name": "Message a model15"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-11-20"
        },
        "messages": {
          "values": [
            {
              "content": "=Please review the subject and content  and file(resume) of the following email and determine if any of them contain words or phrases that indicate training. \nLook for keywords in subject and content  such as: \"training,\" \"cooperative training,\" \"field training,\" \"COOP,\" \"coop,\" and \"training.\" \n\nIf any of these indicators are present in the subject or content, extract and return the following information in a clear from massages, structured format:\n\n**Name:**  \n[Full name of the candidate if available]\n\n  \n- **Email:** [candidate email if available, if not found use 'not found']  \n- **Phone Number:** [candidate phone number if available, if not found use 'not found']\n\n**Education:**  \n[Education details if available]\n\n**Message ID:**  \n{{ $json['messageId'] }}\n\n---\n\nEmail Content:  \n{{ $json.text }}\n\nEmail Subject:  \n{{ $json.subject }}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2720,
        480
      ],
      "id": "7b942c2c-0ee7-4d6b-b03e-6ef3397d9dfd",
      "name": "Message a model16"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2336,
        480
      ],
      "id": "1dce652c-2107-4652-8a3a-03ba0dad0b1e",
      "name": "Training4"
    },
    {
      "parameters": {
        "toEmail": "={{ $('Get many messages1').item.json.from.text }}",
        "subject": "={{ $('Gmail Trigger1').item.json.subject }}",
        "emailFormat": "text",
        "text": "= {{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -704,
        192
      ],
      "id": "d064c75b-49a1-49da-9c64-b4f022eab6fb",
      "name": "Send email4",
      "webhookId": "c6fb17f6-4f1d-45a2-b27e-d74d95302d65"
    },
    {
      "parameters": {
        "toEmail": "={{ $('Get many messages1').item.json.from.text }}",
        "subject": "={{ $('Gmail Trigger1').item.json.subject }}",
        "emailFormat": "text",
        "text": "= {{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -2144,
        480
      ],
      "id": "eadc9112-96fd-4726-a596-b94e72171670",
      "name": "Send email5",
      "webhookId": "c6fb17f6-4f1d-45a2-b27e-d74d95302d65"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let content = $json[\"message\"][\"content\"];  // محتوى الرسالة من OpenAI\n\n// استخراج البيانات باستخدام Regular Expressions (Regex)\n// استخراج الاسم الكامل\nlet fullName = content.match(/1\\.\\s*Full name of the candidate:\\s*([^\\n]+)/);\n// استخراج البريد الإلكتروني\nlet email = content.match(/2\\.\\s*Email address:\\s*([^\\n]+)/);\n// استخراج التعليم\nlet education = content.match(/3\\.\\s*Education:\\s*([^\\n]+)/);\n// استخراج المهارات\nlet skills = content.match(/6\\.\\s*Skills:\\s*([\\s\\S]*?)(?=\\n7\\.)/);\n// استخراج رقم الهاتف\nlet contactNumber = content.match(/7\\.\\s*Contact number:\\s*([^\\n]+)/);\n// استخراج سنوات الخبرة\nlet yearsOfExperience = content.match(/4\\.\\s*Years of experience:\\s*([^\\n]+)/);\n// استخراج مجال الخبرة\nlet fieldOfExpertise = content.match(/5\\.\\s*Field of expertise:\\s*([^\\n]+)/);\n\n// إرجاع القيم المستخرجة مع التأكد من أنها غير فارغة\nreturn {\n  \"Full name\": fullName ? fullName[1].trim() : \"---\",  // استخراج الاسم الكامل\n  \"Email\": email ? email[1].trim() : \"---\",  // استخراج البريد الإلكتروني\n  \"Education\": education ? education[1].trim() : \"---\",  // استخراج التعليم\n  \"Skills\": skills ? skills[1].replace(/\\n/g, ', ').trim() : \"---\",  // استخراج المهارات\n  \"Contact number\": contactNumber ? contactNumber[1].trim() : \"---\",  // استخراج رقم الهاتف\n  \"Years of experience\": yearsOfExperience ? yearsOfExperience[1].trim() : \"---\",  // استخراج سنوات الخبرة\n  \"Field of expertise\": fieldOfExpertise ? fieldOfExpertise[1].trim() : \"---\"  // استخراج مجال الخبرة\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        192
      ],
      "id": "60be502a-769e-4aad-9cb8-697e1d8fb25f",
      "name": "Code13"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -928,
        192
      ],
      "id": "d7c46800-4485-4b57-bb4b-d9cd0b18318c",
      "name": "Training5"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3408,
        688
      ],
      "id": "13c17de9-0102-4765-bfa9-1c3a8650e4d1",
      "name": "Mark a message as read3",
      "webhookId": "05beca1d-4b32-4285-98c5-8922156a561b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "575ba42c-e1d5-4130-a5e0-6787d32d2221",
              "leftValue": "={{$binary.attachment_0.mimeType}}\n",
              "rightValue": "application/pdf|",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c69d88bc-1829-4653-a330-4439cd46ecb7",
              "leftValue": "={{$binary.attachment_0.fileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3056,
        160
      ],
      "id": "5c9e82a3-2eab-4c06-bf98-e52754642539",
      "name": "Filter5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf71e129-d03e-4f9f-8c34-6544952b1827",
              "leftValue": "={{ $binary.attachment_0}}",
              "rightValue": "=",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3344,
        240
      ],
      "id": "b346037b-89d4-4ca8-abc6-17d6e9d35e7e",
      "name": "If (found cv)2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "45765b92-ec45-422e-9a96-751f5b390c24",
              "leftValue": "={{ $json[\"subject\"] }}\n\n{{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "=مقابلة",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "28b4fa18-0597-43e8-b8ad-fae73b62acd4",
              "leftValue": "={{ $json[\"subject\"] }}\n{{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "=interview",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5db10ca9-6d9c-4303-8cd6-5f0c1500cdbf",
              "leftValue": "={{ $json[\"subject\"] }}\n\n{{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "=تدريب",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e014dc23-0bfe-41d8-8e99-1b7b567b1835",
              "leftValue": "={{ $json[\"subject\"] }}  {{ $('Get many messages1').item.json.headers.subject }}",
              "rightValue": "=دعوة",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3984,
        880
      ],
      "id": "4b3371a5-cff9-4a3b-99b0-3740b45305aa",
      "name": "If (interview)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2cbcebb-3bd8-4bcd-bfe9-2943e251f047",
              "name": "={{ $json.message.content }}",
              "value": "=Full Name",
              "type": "string"
            },
            {
              "id": "90a238a2-b3f1-4362-b9cf-f80401a7bb7e",
              "name": "={{ $json.message.content }}",
              "value": "=Email Address",
              "type": "string"
            },
            {
              "id": "a2472fd7-a111-48d2-a67f-74415224b937",
              "name": "={{ $json.message.content }}",
              "value": "=Contact number",
              "type": "string"
            },
            {
              "id": "4427b4a9-6146-4a9a-a368-6d09171de00c",
              "name": "={{ $json.message.content }}",
              "value": "=Education",
              "type": "string"
            },
            {
              "id": "8ede4f9a-631e-45a4-b99b-09e6e3881ff8",
              "name": "={{ $json.message.content }}",
              "value": "Years of Experience",
              "type": "string"
            },
            {
              "id": "11923f56-731f-4292-9f70-b83333deae2d",
              "name": "={{ $json.message.content }}",
              "value": "Field of Expertise",
              "type": "string"
            },
            {
              "id": "9b89af7f-f3f7-4fbf-953a-6ff834b252c2",
              "name": "={{ $json.message.content }}",
              "value": "Skills",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        1024
      ],
      "id": "0a56b4c7-e023-4ed6-b941-ead22c0c9364",
      "name": "Edit Fields7",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4720,
        880
      ],
      "id": "46404a20-c27b-41db-ae90-209084d6f20a",
      "name": "Wait2",
      "webhookId": "b9caa708-693d-405d-b69f-865959adfc17"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        0
      ],
      "id": "cd9245b4-e709-47e0-8449-d2c550c4a968",
      "name": "d1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        160
      ],
      "id": "ef7a6ebf-2cd3-429d-9eff-ddc7a67c23f4",
      "name": "d"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        320
      ],
      "id": "69d887ff-8fb3-4f23-a0bb-e796285ed939",
      "name": "d2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        464
      ],
      "id": "9bc458b2-78cd-4665-b13f-56959eb820eb",
      "name": "d3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        624
      ],
      "id": "cdc8faf7-eed1-430e-9c1a-b570651e30ba",
      "name": "d4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        784
      ],
      "id": "b48b5b5d-5aee-438d-a1fb-8d3d93d4bdc5",
      "name": "d5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        944
      ],
      "id": "817826c6-2cfc-4cd9-afb3-318e1ba72fac",
      "name": "d6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        1104
      ],
      "id": "aa11a595-14fd-4a76-9171-378574bca939",
      "name": "d7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        1264
      ],
      "id": "9e0a5729-947b-40c4-90a2-880b540edfac",
      "name": "d8"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        1424
      ],
      "id": "dfc9877d-ae49-4235-8031-51d0a9bdc2fa",
      "name": "d9"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        1568
      ],
      "id": "f4f72e14-b7b1-406a-b0ee-a39faa50b4b7",
      "name": "d10"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        16,
        1728
      ],
      "id": "e21f3ade-7211-45c2-9e6e-f399be8a0fb7",
      "name": "d11"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        16,
        1888
      ],
      "id": "c7740ecc-a81a-4d99-b8be-865662e7dd05",
      "name": "d12"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        16,
        2064
      ],
      "id": "8b4dab86-49df-4987-8c9f-c8fab2cc6891",
      "name": "d13"
    }
  ],
  "pinData": {},
  "connections": {
    "If (General inquiries)": {
      "main": [
        [
          {
            "node": "Message a model7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (job application)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "General inquiries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "support chat": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract cv": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "currentOffset 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model6": {
      "main": [
        [
          {
            "node": "If (General inquiries)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model7": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Extract cv",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages1": {
      "main": [
        [
          {
            "node": "If (interview)",
            "type": "main",
            "index": 0
          },
          {
            "node": "currentOffset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "If (job application)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me3": {
      "main": [
        [
          {
            "node": "Get many messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "currentOffset 3": {
      "main": [
        [
          {
            "node": "Get many messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "d1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "d13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "HTTP Request(conv docx)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request(conv docx)": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "currentOffset": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If (Training)": {
      "main": [
        [
          {
            "node": "If (found cv)2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Message a model16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model13": {
      "main": [
        [
          {
            "node": "Code13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract cv3": {
      "main": [
        [
          {
            "node": "Message a model15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Extract cv3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model15": {
      "main": [
        [
          {
            "node": "Message a model13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model16": {
      "main": [
        [
          {
            "node": "Training4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code13": {
      "main": [
        [
          {
            "node": "Training5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter5": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (found cv)2": {
      "main": [
        [
          {
            "node": "Filter5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If (interview)": {
      "main": [
        [
          {
            "node": "If (Training)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark a message as read3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If (job application)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark a message as read3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d13": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d12": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d11": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d10": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d9": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d8": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d7": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d5": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "d": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fb54700-3465-4717-99fe-eb1405eda6af",
  "meta": {
    "instanceId": "94d8928ee7d246554afc9edcb506b2133b8c52e09d6ff7b96e153280f0958836"
  },
  "id": "0MyH6uIYgOi38ziQ",
  "tags": []
}